includeConfig 'ukb_gwas.config'

params {
    STUDY_DESIGN = "LOCO_GWAS" 
    ESTIMANDS_FILE = "test/assets/parameters/loco_gwas.yaml"
    OUTDIR = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/output"
    VERBOSITY = 1
    ROOT = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/assets/unphased_bed"
    UKB_ENCODING_FILE = "NO_UKB_ENCODING_FILE"
}