params {
    NB_PCS = 6
    OUTDIR = "..."
    BED_FILES = "..."
    QC_FILE = "${projectDir}/assets/NO_QC_FILE"
    TRAITS_CONFIG = "..."
    TRAITS_DATASET = "..."
    UKB_WITHDRAWAL_LIST = "${projectDir}/assets/NO_WITHDRAWAL_LIST"
    UKB_ENCODING_FILE = "NO_UKB_ENCODING_FILE"
    COHORT = "UKBB"
    LD_BLOCKS = "${projectDir}/assets/NO_LD_BLOCKS"
    MAF_THRESHOLD = 0.05
    ESTIMANDS_FILE = "${projectDir}/test/assets/parameters/loco_gwas.yaml"    
    STUDY_DESIGN = "LOCO_GWAS"
    VERBOSITY = 1
    POSITIVITY_CONSTRAINT = 0.01
    CALL_THRESHOLD = 0.9
    BATCH_SIZE = 400
    ESTIMATOR_FILE = "${projectDir}/test/assets/estimator.jl"
    TL_SAVE_EVERY = 400
}