params {
    NB_PCS = 6
    OUTDIR = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/output"
    BED_FILES = "/exports/igmm/eddie/UK-BioBank-53116/genotypes/ukb_*.{bed,bim,fam}"
    QC_FILE = "/exports/igmm/eddie/UK-BioBank-53116/imputed/ukb_snp_qc.txt"
    TRAITS_CONFIG = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/assets/ukbconfig_LG.yaml"
    TRAITS_DATASET = "/exports/igmm/eddie/UK-BioBank-53116/phenotypes/LG_BMI.csv"
    UKB_CONFIG = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/assets/ukbconfig_LG.yaml"
    UKB_WITHDRAWAL_LIST = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/assets/withdrawal_list.txt"
    UKB_ENCODING_FILE = "NO_UKB_ENCODING_FILE"
    COHORT = "UKBB"
    LD_BLOCKS = "${projectDir}/assets/NO_LD_BLOCKS"
    MAF_THRESHOLD = 0.05
    ESTIMANDS_FILE = "/exports/igmm/eddie/khamseh-lab/jslaughter/targene_dev/targene-pipeline/loco_gwas/test/assets/parameters/loco_gwas.yaml"
    STUDY_DESIGN = "LOCO_GWAS"
    VERBOSITY = 1
    POSITIVITY_CONSTRAINT = 0.01
    CALL_THRESHOLD = 0.9
    BATCH_SIZE = 400
    ESTIMATOR_FILE = "test/assets/estimator.jl"
    TL_SAVE_EVERY = 400
}