includeConfig 'base.config'

params {
    STUDY_DESIGN = "GWAS" 
    TRAITS_DATASET = "test/assets/dataset.csv"
    QC_FILE = "test/assets/qc_file.csv"
    ESTIMANDS_FILE = "test/assets/gwas_estimands_config.yaml"
    UKB_WITHDRAWAL_LIST = "test/assets/withdrawal_list.txt"
    UKB_CONFIG = "test/assets/ukbconfig_LG.yaml"
    OUTDIR = "test/output"
    VERBOSITY = 1
    UKB_ENCODING_FILE = "NO_UKB_ENCODING_FILE"
}